name: Publish Pre-Release

on:
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: cardinalby/export-env-action@v2
        id: cicd_env
        with:
          envFile: 'github.env'
          expand: 'true'
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Run image
        uses: abatilo/actions-poetry@v2.0.0
        with:
          poetry-version: ${{ env.POETRY_VERSION }}
      - run: pip install urllib3==1.26.15 requests-toolbelt==0.10.1
      - name: Build and publish to pypi
        run: |
          poetry install --only=main
          poetry build --format wheel
          poetry config pypi-token.testpypi ${{ secrets.TEST_PYPI_API_TOKEN }}
          poetry config repositories.testpypi https://test.pypi.org/legacy/
          poetry publish --repository testpypi
